@import "ui.css";
@import "component.css";
/* CSS Document */
/* CSS Document */
.projects .imgBox .imgMask, .books .imgBox .imgMask, .profile figure, .cover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.books .bookMix, .projects .projectMix, .projects .likestore .imgGroup, .profile figure figcaption .btnGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile .modal .modal-body .career .period .location:before, .cover:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.contentWrap {
  position: relative;
}

.cover {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  border: 1rem solid #FFFFFF;
}
@media (max-width: 480px) {
  .cover {
    border: none;
    padding: 0 1rem;
  }
}
.cover:before {
  width: 100%;
  background: url(../images/cover.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.26;
}
.cover .coverContent {
  z-index: 1;
  text-align: center;
}
.cover .coverContent h1 {
  margin-bottom: 1rem;
}
.cover .coverContent p {
  margin: 1rem 0;
}
.cover .btn {
  position: absolute;
  bottom: 20px;
}
.cover .btn img {
  width: 12px;
}

.stickyNav {
  right: 0;
  top: 0;
  padding: 0 0 0 12px;
  z-index: 2;
  font-size: 14px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  transition: all 1s ease-out;
}
@media (min-width: 1150px) {
  .stickyNav {
    top: 16px;
    border-left: thin solid rgba(0, 0, 0, 0.23);
  }
}
@media (max-width: 1149px) {
  .stickyNav {
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    text-align: right;
    height: 45px;
  }
}
@media (min-width: 1150px) {
  .stickyNav button.open-menu {
    display: none;
  }
}
@media (max-width: 1149px) {
  .stickyNav button.open-menu {
    margin: 5px 16px;
  }
}
.stickyNav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
@media (max-width: 1149px) {
  .stickyNav ul {
    background-color: #FFFFFF;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
  }
  .stickyNav ul.menu-mobile-hidden {
    display: none;
  }
}
.stickyNav ul li {
  padding: 2px 8px 3px 8px;
  position: relative;
}
@media (min-width: 1150px) {
  .stickyNav ul li {
    margin: 12px 0;
  }
}
@media (max-width: 1149px) {
  .stickyNav ul li {
    text-align: center;
    padding: 1rem 0;
  }
}
.stickyNav ul li:hover {
  cursor: pointer;
}
.stickyNav ul li.active {
  background: #000000;
  color: #FFFFFF;
}

.profile {
  padding: 45px 0;
}
.profile figure {
  flex-wrap: wrap;
}
@media (min-width: 500px) and (max-width: 950px) {
  .profile figure img {
    width: 50%;
  }
}
.profile figure figcaption {
  margin: 0 27px;
}
@media (min-width: 950px) {
  .profile figure figcaption {
    width: 35%;
    margin: 0 70px;
  }
}
@media (min-width: 950px) {
  .profile figure figcaption h2 {
    margin-top: 0;
  }
}
.profile figure figcaption h2 span {
  font-family: Noto Serif TC;
  letter-spacing: 2.2px;
  padding-left: 15px;
  margin-left: 7px;
  border-left: thin solid rgba(0, 0, 0, 0.6);
  display: inline-block;
}
.profile figure figcaption .btnGroup {
  border-top: thin solid rgba(0, 0, 0, 0.23);
  padding-top: 1rem;
}
.profile .modal .modal-body .label {
  color: rgba(0, 0, 0, 0.6);
}
.profile .modal .modal-body .career {
  display: flex;
  margin: 1.5rem 2rem;
}
.profile .modal .modal-body .career .period {
  width: 34%;
  padding-right: 5%;
}
.profile .modal .modal-body .career .period .company {
  font-family: Playfair Display;
}
.profile .modal .modal-body .career .period .location {
  font-size: 0.812rem;
  position: relative;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0.4rem;
  padding-left: 1.1rem;
}
.profile .modal .modal-body .career .period .location:before {
  width: 15px;
  height: 15px;
  background: url(../images/icons/pin.svg) top no-repeat;
  top: 1px;
  filter: opacity(0.3);
}
.profile .modal .modal-body .career .description {
  width: 60%;
}
.profile .modal .modal-body .career .description .jobTitle {
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 0.4rem;
}
@media (max-width: 680px) {
  .profile .modal .modal-body .career {
    display: block;
    border-bottom: thin solid rgba(0, 0, 0, 0.23);
    padding-bottom: 0.7rem;
    margin: 1rem 0.5rem;
  }
  .profile .modal .modal-body .career .period {
    width: 100%;
  }
  .profile .modal .modal-body .career .description {
    width: 100%;
  }
  .profile .modal .modal-body .career .description .jobTitle {
    margin-top: 0.6rem;
  }
}
@media (max-width: 680px) {
  .profile .modal .modal-body .list {
    border-bottom: thin solid rgba(0, 0, 0, 0.23);
    margin-bottom: 1.5rem;
  }
}
.profile .modal .modal-body .list ul {
  padding-left: 1.5rem;
}
@media (min-width: 480px) {
  .profile .modal .modal-body .list ul {
    column-count: 3;
    padding-left: 3rem;
    margin: 0.5rem 0 1.5rem;
  }
}
.profile .modal .modal-body .list ul li {
  padding: 0.15rem 0;
}
@media (min-width: 681px) {
  .profile .modal .modal-body {
    background-color: #F5F5F5;
  }
  .profile .modal .modal-body .career {
    align-items: stretch;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 15px, #FFFFFF 0) top left;
    padding: 1rem;
    min-height: 85px;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  }
  .profile .modal .modal-body .career .period {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5%;
    border-right: thin solid rgba(0, 0, 0, 0.12);
  }
  .profile .modal .modal-body .career.school {
    align-items: center;
  }
  .profile .modal .modal-body .career.school .period {
    width: 42%;
  }
  .profile .modal .modal-body .career.school .description {
    width: 52%;
  }
}

.projects h2, .books h2 {
  margin-bottom: 1rem;
}
.projects > div, .books > div {
  width: 78%;
  margin: 0 auto;
}
.projects .info, .books .info {
  margin: 1.2rem 0 1.5rem;
  border-top: thin solid rgba(0, 0, 0, 0.23);
  border-bottom: thin solid rgba(0, 0, 0, 0.23);
}
.projects .info h3, .books .info h3 {
  line-height: 2.125rem;
}
.projects .info h3 span, .books .info h3 span {
  font-weight: 400;
  font-family: Muli;
}
@media (max-width: 768px) {
  .projects .info h3 span, .books .info h3 span {
    display: block;
  }
}
.projects .imgBox, .books .imgBox {
  position: relative;
}
.projects .imgBox .imgMask, .books .imgBox .imgMask {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  transition: all 0.4s ease-out;
}
.projects .imgBox .imgMask:hover, .books .imgBox .imgMask:hover {
  opacity: 1;
  cursor: pointer;
}
.projects .imgBox .imgMask .txtBox .title, .books .imgBox .imgMask .txtBox .title {
  font-family: Playfair Display;
  margin-bottom: 0.4rem;
  letter-spacing: 1px;
}

.projects {
  padding: 20px 0 45px;
  text-align: center;
  box-sizing: border-box;
  border: 1rem solid #FFFFFF;
  background-color: #F6F6F6;
}
@media (max-width: 480px) {
  .projects {
    border: none;
  }
}
.projects .likestore .imgGroup {
  flex-wrap: wrap;
}
.projects .likestore .imgGroup .imgBox {
  margin-bottom: 0.8rem;
}
@media (min-width: 768px) {
  .projects .likestore .imgGroup .imgBox {
    width: 32.2%;
  }
}
.projects .projectMix {
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}
@media (min-width: 1250px) {
  .projects .projectMix .crm {
    width: 65%;
  }
}
.projects .projectMix .funoo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1250px) {
  .projects .projectMix .funoo {
    width: 30%;
  }
}
@media (max-width: 1250px) {
  .projects .projectMix .funoo {
    margin-top: 1.5rem;
  }
  .projects .projectMix .funoo .imgBox {
    margin-bottom: 0.8rem;
  }
}

.books {
  padding: 20px 0 45px;
  text-align: center;
}
@media (max-width: 768px) {
  .books h2 {
    margin-bottom: 0;
  }
}
.books .info {
  border-top: none;
}
.books .info h3 {
  font-family: Noto Sans TC;
}
@media (max-width: 768px) {
  .books .info {
    margin-top: 0.7rem;
    padding-bottom: 0.5rem;
  }
}
.books .bookMix {
  align-items: stretch;
  margin-top: 2.5rem;
}
@media (max-width: 1250px) {
  .books .bookMix {
    flex-direction: column;
    margin-top: 0;
  }
}
@media (min-width: 1250px) {
  .books .bookMix > div {
    width: 49%;
  }
  .books .bookMix > div.single {
    width: 23.5%;
  }
}
@media (max-width: 1250px) {
  .books .bookMix > div {
    margin-top: 1.5rem;
  }
}
.books .bookMix .imgBox {
  overflow: hidden;
}
.books .bookMix .imgBox img:hover {
  cursor: pointer;
  transform: scale(1.08);
  transition: all 1s ease-out;
}

/*# sourceMappingURL=main.css.map */
