@import "ui.css";
@import "component.css";
/* CSS Document */
/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Muli:wght@400;800&family=Noto+Serif+TC:wght@700&family=Playfair+Display:ital,wght@0,700;1,700&display=swap");
.profile figure, .cover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile figure figcaption .btnGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile figure figcaption p.quote:before, .cover:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cover {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  border: 1rem solid #FFFFFF;
}
@media (max-width: 480px) {
  .cover {
    border: none;
    padding: 0 1rem;
  }
}
.cover:before {
  width: 100%;
  background: url(../images/cover.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.26;
}
.cover .coverContent {
  z-index: 1;
  text-align: center;
}
.cover .coverContent h1 {
  font-family: Playfair Display;
  margin-bottom: 1rem;
}
.cover .coverContent p {
  margin: 1rem 0;
}
.cover .btn {
  position: absolute;
  bottom: 20px;
}
.cover .btn img {
  width: 12px;
}

.profile {
  padding: 40px 0;
}
@media (max-width: 768px) {
  .profile figure {
    flex-direction: column;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .profile figure img {
    width: 50%;
  }
}
.profile figure figcaption {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .profile figure figcaption {
    width: 35%;
    margin: 0 70px;
  }
}
.profile figure figcaption h2 {
  font-family: Playfair Display;
}
@media (min-width: 768px) {
  .profile figure figcaption h2 {
    margin-top: 0;
  }
}
.profile figure figcaption h2 span {
  font-family: Noto Serif TC;
  letter-spacing: 2.2px;
  padding-left: 15px;
  margin-left: 7px;
  border-left: thin solid rgba(0, 0, 0, 0.6);
}
.profile figure figcaption p.quote {
  font-family: Oleo Script;
  margin: 4rem 0 4.5rem;
  position: relative;
  padding-left: 42px;
  color: rgba(0, 0, 0, 0.23);
}
@media (max-width: 480px) {
  .profile figure figcaption p.quote {
    margin: 15px 0;
    padding-left: 25px;
  }
}
.profile figure figcaption p.quote:before {
  width: 28px;
  height: 28px;
  background: url(../images/icons/left_quote.svg) top no-repeat;
  top: -5px;
  filter: grayscale(1) opacity(0.5);
}
@media (max-width: 480px) {
  .profile figure figcaption p.quote:before {
    width: 16px;
    height: 16px;
    top: -3px;
  }
}
.profile figure figcaption .btnGroup {
  border-top: thin solid rgba(0, 0, 0, 0.23);
  padding-top: 1rem;
}
.profile .modal .modal-body h3 {
  margin-bottom: 1.2rem;
  font-family: Playfair Display;
}
.profile .modal .modal-body .career {
  display: flex;
  margin: 2rem 1.5rem;
}
.profile .modal .modal-body .career .period {
  width: 30%;
  padding-right: 5%;
}
.profile .modal .modal-body .career .period .location {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0.4rem;
}
.profile .modal .modal-body .career .description {
  width: 64%;
}
.profile .modal .modal-body .career .description .jobTitle {
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 0.4rem;
}
@media (max-width: 680px) {
  .profile .modal .modal-body .career {
    display: block;
    border-bottom: thin solid rgba(0, 0, 0, 0.23);
    padding-bottom: 0.7rem;
    margin: 1rem 0.5rem;
  }
  .profile .modal .modal-body .career .period {
    width: 100%;
  }
  .profile .modal .modal-body .career .description {
    width: 100%;
  }
  .profile .modal .modal-body .career .description .jobTitle {
    margin-top: 0.6rem;
  }
}
@media (min-width: 680px) {
  .profile .modal .modal-body .list ul {
    column-count: 3;
  }
}
@media (max-width: 680px) {
  .profile .modal .modal-body .list {
    border-bottom: thin solid rgba(0, 0, 0, 0.23);
    padding-bottom: 0.7rem;
  }
}

/*# sourceMappingURL=main.css.map */
