@import "ui.css";
@import "component.css";
@import "fonts-work.css";
/* CSS Document */
/* CSS Document */
.section-desc, .section-info .info, .section-info figure {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workWrap section {
  box-sizing: border-box;
  border: 1rem solid #FFFFFF;
}
@media (max-width: 480px) {
  .workWrap section {
    border: none;
  }
}
.workWrap .contentWrap {
  position: relative;
  text-align: center;
}
.workWrap.book .section-info h1 {
  font-family: Noto Serif TC;
}
@media (max-width: 1009px) {
  .workWrap.book .section-info figure {
    flex-direction: column-reverse;
  }
}
.workWrap.book .section-info figure figcaption {
  width: -webkit-fill-available;
  width: calc(100% - 54px);
}

@media (min-width: 1250px) {
  .section-info {
    height: 100vh;
    align-content: center;
  }
}
@media (max-width: 1009px) {
  .section-info figure {
    flex-direction: column;
  }
}
@media (min-width: 1010px) {
  .section-info figure > img {
    width: 65%;
  }
}
.section-info figure figcaption {
  margin: 0 27px 1rem;
}
@media (min-width: 1010px) {
  .section-info figure figcaption {
    width: 32%;
    margin: 0 70px;
  }
}
.section-info figure figcaption .dev-team {
  margin-top: 1rem;
  line-height: 1.7rem;
}
.section-info .info {
  margin: 0 0 1.5rem;
  border-top: thin solid rgba(0, 0, 0, 0.23);
  flex-wrap: wrap;
}
.section-info .info .skill img {
  height: 20px;
  margin: 0 0.05rem;
}

.section-desc {
  max-width: 1590px;
  margin: 0 auto 1.5rem;
  flex-wrap: wrap;
}
@media (min-width: 769px) {
  .section-desc figure {
    width: 50%;
  }
  .section-desc figure.fadeInRight {
    text-align: right;
  }
}
@media (min-width: 769px) {
  .section-desc.space figure {
    width: 49.5%;
  }
}
@media (min-width: 769px) {
  .section-desc.space.desktop-reverse {
    flex-direction: row-reverse;
  }
}
@media (min-width: 769px) {
  .section-desc.space.narrow-left figure .block picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .section-desc.space.narrow-left figure .block picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .section-desc.space.narrow-left figure:first-child {
    width: 38.2%;
  }
  .section-desc.space.narrow-left figure:first-child .dummy {
    padding-top: 100%;
  }
  .section-desc.space.narrow-left figure:last-child {
    width: 60.6%;
  }
  .section-desc.space.narrow-left figure:last-child .dummy {
    padding-top: 62.9%;
  }
}
@media (min-width: 769px) {
  .section-desc.flow-demo figure {
    width: 75%;
    margin: 0 auto;
  }
  .section-desc.flow-demo figure figcaption {
    margin-bottom: 4rem;
  }
}
@media (min-width: 769px) {
  .section-desc.flow-demo.small figure {
    width: 56%;
  }
}
@media (max-width: 768px) {
  .section-desc.flow-demo figure figcaption {
    margin: 1rem 1rem 4rem;
  }
}

.section-demo {
  background: #F0F0F0;
  padding: 3rem 0;
}
@media (max-width: 768px) {
  .section-demo {
    padding: 1rem 0;
  }
}
.section-demo figure {
  width: 75%;
  margin: 0 auto 3rem;
}
@media (max-width: 768px) {
  .section-demo figure {
    width: 90%;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1581px) {
  .section-demo figure {
    width: 1200px;
  }
}
.section-demo figure.border-radius {
  padding-top: 5px;
  border-radius: 8px;
  background: #FFFFFF;
}
.section-demo figure.bg-transparent {
  padding-top: 1.5rem;
}
.section-demo h3 {
  width: 75%;
  margin: 1rem auto 1.5rem;
}
@media (max-width: 768px) {
  .section-demo h3 {
    width: 90%;
    margin-top: 2rem;
  }
}
@media (min-width: 1581px) {
  .section-demo h3 {
    width: 1200px;
  }
}

.copyright {
  align-items: baseline;
}
.copyright a {
  color: #000000;
}

.buttons {
  text-align: center;
}
.buttons button {
  margin: 1.5rem 1rem;
}

/*# sourceMappingURL=work.css.map */
