@charset "utf-8";
@import "variable";
@import "extend";

// The Modal (background)
.modal {
	display: none;
	position: fixed;
	z-index: 4;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	width: 100%;
	max-width: 800px;
	@media (max-width: 680px) {
		background-color: $white;
	}
	&.visible {
		display: block;
	}
	.modal-content {
		background-color: $white;
		@media (min-width: 680px) {
			border: 1px solid $light-gray;
			background-clip: padding-box;
			border-radius: 4px;
		}
		@media (max-width: 680px) {
			height: 100vh;
		}

		.modal-header {
			@extend %d-flex-between;
			padding: 1rem 1.3rem;
			@media (max-width: 680px) {
				flex-direction: row-reverse;
			}
			.close {
				cursor: pointer;
				width: 16px;
				height: 16px;
				img {
					vertical-align: baseline;
				}
			}
		}
		.modal-body {
			border-top: thin solid rgba($black, 0.12);
			padding: 1rem 1.3rem;
			overflow-y: auto;
			height: calc(100vh - 4rem);
			@media (min-width: 680px) {
				max-height: 75vh;
				padding: 1rem 2.4rem;
			}
		}
		.modal-footer {
			padding: 0.4rem 1rem;
		}
	}
	&.no-action {
		.modal-body {
			@media (min-width: 680px) {
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
			}
		}
		.modal-footer {
			display: none;
		}
	}
	&.modal-lg {
		max-width: 850px;
	}
}
.modal-open {
	overflow: hidden;
	padding-right: 16px;
}
.modal-backdrop {
	display: none;
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba($black, 0.5);
	&.visible {
		display: block;
	}
}

// The Tooltip 
.tooltip {
	position: relative;
	display: inline-block;
	font-style: normal;
	.tooltip-text {
		visibility: hidden;
		font-size: 12px;
		line-height: 25px;
		letter-spacing: 1px;
		width: 85px;
		bottom: 150%;
		left: 50%;
		margin-left: -(85px/2);
		background-color: rgba($black, 0.7);
		color: $white;
		text-align: center;
		border-radius: 4px;
		position: absolute;
		z-index: 2;
		&::after {
			content: " ";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: rgba($black, 0.7) transparent transparent;
		}
	}
	&:hover {
		.tooltip-text {
			visibility: visible;
		}
	}
}

// navigation
.stickyNav {
	right: 0;
	top: 0;
	z-index: 2;
	font-size: 14px;
	letter-spacing: 0.8px;
	text-align: right;
	transition: all 1s ease-out;
	background: rgba($white, 0.85);
	width: 100%;
	height: 45px;
	button {
		&.open-menu {
			margin: 5px 16px;
		}
	}
	ul {
		list-style: none;
		padding-left: 0;
		margin: 0;
		background-color: $white;
		box-shadow: 0 1px 5px 0 $gray;
		&.menu-mobile-hidden {
			display: none;
		}
		li {
			padding: 2px 8px 3px;
			position: relative;
			text-align: center;
			&:hover {
				cursor: pointer;
				background: $gray;
				a {
					color: $white;
				}
			}
			&.active {
				background: $black;
				a {
					color: $white;
				}
			}
			a {
				color: $black;
				display: block;
				padding: 1rem 0;
				&:active {
					background: transparent;
				}
			}
		}
	}
}