@charset "utf-8";
@import "ui.css";
@import "variable";
@import "extend";
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Muli&family=Noto+Serif+TC:wght@700&family=Playfair+Display:wght@700&display=swap');
.cover {
	@extend %d-flex-center;
	position: relative;
	height: 100vh;
	box-sizing: border-box;
	border: 1rem solid $white;
	@media (max-width: 480px) {
		border: none;
		padding: 0 1rem;
	}

	&:before {
		@extend %pseudo-element;
		width: 100%;
		background: url(../images/cover.jpg) center no-repeat;
		background-size: cover;
		background-attachment: fixed;
		opacity: 0.26;
	}
	.coverContent {
		z-index: 1;
		text-align: center;
		h1 {
			font-family: Playfair Display;
			margin-bottom: 1rem;
		}
		p {
			margin: 1rem 0;
		}
	}
	.btn {
		position: absolute;
		bottom: 20px;
		img {
			width: 12px;
		}
	}
}

.profile {
	padding: 40px 0;
	figure {
		@extend %d-flex-center;
		@media (max-width: 680px) {
			flex-direction: column;
		}
		img {
		}
		figcaption {
			margin: 0 20px;
			@media (min-width: 680px) {
				width: 35%;
				margin: 0 50px;
			}
			h2 {
				font-family: Playfair Display;
				@media (min-width: 680px) {
					margin-top: 0;
				}
				span {
					font-family: Noto Serif TC;
					letter-spacing: 2.2px;
					padding-left: 15px;
					margin-left: 7px;
					border-left: thin solid $gray;
				}
			}
			p {
				&.quote {
					font-family: Oleo Script;
					margin: 4rem 0 4.5rem;
					position: relative;
					padding-left: 42px;
					color: $light-gray;
					@media (max-width: 480px) {
						margin: 15px 0;
						padding-left: 25px;
					}
					&:before {
						@extend %pseudo-element;
						width: 28px;
						height: 28px;
						background: url(../images/icons/left_quote.svg) top no-repeat;
						top: -5px;
						filter: grayscale(1) opacity(0.5);
						@media (max-width: 480px) {
							width: 16px;
							height: 16px;
							top: -3px;
						}
					}
				}
			}
			.btnGroup {
				@extend %d-flex-center;
				justify-content: space-between;
				border-top: thin solid $light-gray;
				padding-top: 1rem;
			}
		}
	}	
}