@charset "utf-8";
@import "ui.css";
@import "component.css";
@import "fonts-main.css";
@import "variable";
@import "extend";
.contentWrap {
	position: relative;
}
.sectionBorder {
	box-sizing: border-box;
	border: 0.5rem solid $white;
	@media (max-width: 480px) {
		border: none;
	}
}
.cover {
	@extend %d-flex-center;
	position: relative;
	height: 100vh;
	@media (max-width: 480px) {
		padding: 0 1rem;
	}

	&:before {
		@extend %pseudo-element;
		width: 100%;
		background: url(../images/cover.jpg) center no-repeat;
		background-size: cover;
		background-attachment: fixed;
		opacity: 0.26;
		border-radius: 2rem;
	}
	.coverContent {
		z-index: 1;
		text-align: center;
		h1 {
			margin-bottom: 1rem;
		}
		p {
			margin: 1rem 0;
		}
	}
	.btn {
		position: absolute;
		bottom: 20px;
		img {
			width: 12px;
		}
	}
}

// Nav
.stickyNav {
	@media (min-width: 1150px) {
		padding: 0 0 0 12px;
		top: 16px;
		background: transparent;
		border-left: thin solid $light-gray;
		height: auto;
		width: auto;
		button {
			&.open-menu {
				display: none;
			}
		}
		ul {
			background: transparent;
			box-shadow: none;
			&.menu-mobile-hidden {
				display: block;
			}
			li {
				text-align: left;
				margin: 0.5rem 0;
				padding: 0.5rem 1.2rem 0.5rem;
				border-radius: 1rem 0 0 1rem;
				&:not(.active):hover {
					background: #ededed;
					a {
						color: inherit;
					}
				}
				a {
					padding: 0;
				}
			}
		}
	}
}

.profile {
	padding: 45px 0;
	figure {
		@extend %d-flex-center;
		flex-wrap: wrap;
		>img {
			border-radius: 2rem;
		}
		@media (min-width: 500px) and (max-width: 950px) {
			img {
				width: 50%;
			}
		}
		figcaption {
			margin: 0 27px;
			@media (min-width: 950px) {
				width: 35%;
				margin: 0 70px;
			}
			h2 {
				@media (min-width: 950px) {
					margin-top: 0;
				}
				span {
					font-family: Noto Serif TC;
					letter-spacing: 2.2px;
					padding-left: 15px;
					margin-left: 7px;
					border-left: thin solid $gray;
					display: inline-block;
				}
			}
			.btnGroup {
				@extend %d-flex-between;
				padding-top: 1.8rem;
				background: url(../images/icons/divider.svg) top no-repeat;
			}
		}
	}
	.modal {
		border-radius: 1rem;
		.modal-body {
			.label {
				color: $gray;
				padding-top: 1rem;
			}
			.career {
				display: flex;
				margin: 1.5rem 0;
				.period {
					width: 28%;
					padding-right: 5%;
					color: $gray;
					.company {
						font-family: Playfair Display;
						color: $black;
						margin-bottom: 0.5rem;
					}
					.location {
						font-size:.812rem;
						position: relative;
						margin-top: 0.4rem;
						padding-left: 1.1rem;
						&:before {
							@extend %pseudo-element;
							width: 15px;
							height: 15px;
							background: url(../images/icons/pin.svg) top no-repeat;
							top: 1px;
							filter: opacity(0.3);							
						}
					}
				}
				.description {
					width: 60%;
					.jobTitle {
						color: rgba($black, 0.8);
						padding-bottom: 0.7rem;
						@extend %d-flex-between;
						.skill {
							img {
								height: 20px;
								margin: 0 0.05rem;
							}
						}
					}
				}
				@media (max-width: 680px) {
					display: block;
					border-bottom: thin solid $light-gray;
					padding-bottom: 0.7rem;
					margin: 1rem 0.5rem;
					.period {
						width: 100%;
					}
					.description {
						width: 100%;
						.jobTitle {
							margin-top: 0.6rem;
						}
					}
				}
			}
			.list {
				@media (max-width: 680px) {
					border-bottom: thin solid $light-gray;
					margin-bottom: 1.5rem;
				}
				ul {
					padding-left: 1.5rem;		
					@media (min-width: 480px) {
						column-count: 3;
						margin: 0.5rem 0 1.5rem;
					}
					li {
						padding: 0.15rem 0;
					}		
				}
			}
			@media (min-width: 681px) {
				background-color: #ededed;
				.career {
					align-items: stretch;
					background: white;
					padding: 1.3rem;
					min-height: 85px;
					border-radius: 14px;
					.period {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						margin-right: 5%;
						border-right: thin solid rgba($black, 0.12);
					}
					&.school {
						align-items: center;
						.period {
							width: 42%;
						}
						.description {
							width: 52%;
						}
					}
				}					
			}
		}
	}	
}

.projects, .books, .marketing {
	padding: 20px 0 45px;
	text-align: center;
	&.bg-gray {
		background-color: #F6F6F6;
	}
	>div {
		width: 78%; 
		margin: 0 auto;
	}
	.info {
		margin: 1.5rem 0;
		h3 {
			line-height: 2.125rem;
			span {
				font-weight: 400;
				font-family: Muli;
				@media (max-width: 768px) {
					display: block;
				}
			}
		}
	}
	.imgBox {
		position: relative;
		.imgMask {
			@extend %d-flex-center;
			background-color: rgba($black, 0.5);
			position: absolute;
			opacity: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			color: $white;
			transition: all 0.4s ease-out;
			border-radius: 2rem;
			&:hover {
				opacity: 1;
				cursor: pointer;
			}
			.txtBox {
				.title {
					font-family: Playfair Display;
					margin-bottom: 0.4rem;
					letter-spacing: 1px;
				}
			}
		}
	}
}

.projects {
	.ophi {
		.imgBox {
			@media (min-width: 1250px) {
				width: 100%;
			}
		}
	}
	.likestore {
		.imgGroup {
			@extend %d-flex-between;
			flex-wrap: wrap;
			.imgBox {
				@media (min-width: 768px) {
					width: 32.2%;
				}
				margin-bottom: 0.8rem;
			}
		}
	}
	.projectMix {
		@extend %d-flex-between;
		align-items: stretch;
		flex-wrap: wrap;
		margin-top: 1.5rem;
		.crm {
			@media (min-width: 1250px) {
				width: 65%;
			}
		}
		.funoo {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			@media (min-width: 1250px) {
				width: 30%;
			}
			@media (max-width: 1250px) {
				margin-top: 1.5rem;
				.imgBox {
					margin-bottom: 0.8rem;
				}
			}
		}
	}
	img {
		border-radius: 2rem;
	}
}

.books {
	@media (max-width: 768px) {
		h2 {
			margin-bottom: 0;
		}
	}
	.info {
		border: none;
		h3 {
			font-family: Noto Sans TC;
		}
		@media (max-width: 768px) {
			margin-top: 0.7rem;
			padding-bottom: 0.5rem;
		}
	}
	.bookMix {
		@extend %d-flex-between;
		align-items: stretch;
		margin-top: 2.5rem;
		@media (max-width: 1250px) {
			flex-direction: column;
			margin-top: 0;
		}
		>div {
			@media (min-width: 1250px) {
				width: 49%;
				&.single {
					width: 23.5%;
				}
			}
			@media (max-width: 1250px) {
				margin-top: 1.5rem;
			}
			.imgBox {
				overflow: hidden;
				img {
					transition: all 0.5s ease-out;
					
				}
			}
			&:hover {
				.imgBox {
					img {
						cursor: pointer;
						transform: scale(1.08);
					}
				}
				.info {
					h3 {
						&:after {
							width: 100%;
						}
					}
				}
			}
			.info {
				h3 {
					&:after {
						bottom: 0;
						content: "";
						display: block;
						height: 1px;
						background: $light-gray;
						transition: width 1s ease 0s, left 1s ease 0s;
						width: 0;
					}
				}
			}
		}
	}
}

.marketing {
	h2 {
		@media (min-width: 769px) {
			margin-bottom: 2.5rem;
		}
	}
	.banners {
		@extend %d-flex-between;
		flex-wrap: wrap;
		.imgBox {
			width: 24%;
			margin-top: 1.5rem;
			img {
				border-radius: 2rem;
			}
			@media (max-width: 768px) {
				width: 48.5%;
				margin-top: 0.7rem;
			}
			.dummy {
				padding-top: 100%;
			}
			.block {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				@extend %d-flex-center;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}