@charset "utf-8";
@import "variable";
@import "extend";

body, html, figure, p, h3 {
	margin: 0;
}
body, html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Muli;
}
h1, h2 {
	font-family: Playfair Display;
}
a {
	text-decoration: none;
	&:active {
		color: inherit;
	}
}
img {
	max-width: 100%;
	vertical-align: middle;
}
.btn {
	border: none;
	cursor: pointer;
	background-color: $black;
	color: $white;
	border-radius: 4px;
	font-family: Muli;
	letter-spacing: 2px;
	&:focus {
		outline: none;
	}
	&.icon {
		border-radius: 50%;
		width: 40px;
		height: 40px;
		&.icon-outline {
			background-color: transparent;
			border: thin solid rgba($black, 0.8);
			&:hover {
				background-color: rgba($black, 0.15);
				transition: all 1s ease-out;
			}
		}
		&.icon-border-none {
			background-color: transparent;
			img {
				width: 20px;
			}
		}
		img {
			width: 15px;
			position: relative;
			top: -1px;
		}
		&.icon-sm {
			width: 35px;
			height: 35px;
		}
	}
	&.btn-primary {
		padding: 0.5rem 1rem;
		&:hover {
			box-shadow: 0 3px 1px -2px $gray,
						0 2px 2px 0 $gray,
						0 1px 5px 0 $gray;
		}
	}
}

/*BEGIN font-size*/
h1{font-size:4.3rem;}
.f-44{font-size:2.8rem;}
.f-40{font-size:2.5rem;}
.f-32{font-size:2rem;}
.f-30{font-size:1.875rem;}
.f-25{font-size:1.45rem;}
.f-20{font-size:1.25rem;}
.f-19{font-size:1.187rem;}
.f-18 {
	font-size: 1.125rem;
	line-height: 2rem;
}
.f-17{font-size:1.062rem;}
.f-16{font-size:1rem;}
.f-15{ 
	font-size:.935rem;
	line-height: 1.3rem;
}
.f-14{font-size:.875rem;}
.f-13{font-size:.812rem;}
.f-12{font-size:.75rem;}

/*BEGIN max-width:680px Vmin 手機版文字大小*/
@media (max-width:680px){
	.info {
		h3 {
			line-height: 6.5vmin !important;
		}
	}
  h1{font-size:10.5vmin;}
  .f-44{font-size:9vmin;}
  .f-40{font-size:8.5vmin;}
  .f-32{font-size:7vmin;}
  .f-30{font-size:6.8vmin;}
  .f-20,.f-25{font-size:5.8vmin;}
  .f-19{font-size:5.7vmin;}
  .f-18 {
  	font-size: 5.6vmin;
  	line-height: 7.5vmin;
  }
  .f-17{font-size:5.3vmin;}
  .f-16{font-size:5vmin}
  .f-15{
  	font-size:4.7vmin;
  	line-height: 6.6vmin;
  }
  .f-14{font-size:4.3vmin;}
  .f-13,.f-12{font-size:4vmin;}
}
/*END font-size*/