@charset "utf-8";
@import "ui.css";
@import "component.css";
@import "fonts-work.css";
@import "variable";
@import "extend";
.workWrap {
	section {
		box-sizing: border-box;
		border: 1rem solid $white;
		@media (max-width: 480px) {
			border: none;
		}
	}
	.contentWrap {
		position: relative;
		max-width: 1600px;
		margin: 0 auto;
	}
	&.book {
		.section-info {
			h1 {
				font-family: Noto Serif TC;
			}
			figure {
				@media (max-width: 768px) {
					flex-direction: column-reverse;
				}
			}
		}
	}
}

.section-info {
	@media (min-width: 1250px) {
		height: 100vh;
	}
	figure {
		@extend %d-flex-between;
		@media (max-width: 768px) {
			flex-direction: column;
		}
		img {
			@media (min-width: 769px) {
				width: 65%;
			}
		}
		figcaption {
			margin: 0 27px 1rem;
			@media (min-width: 769px) {
				width: 32%;
				margin: 0 70px
			}
		}
	}
	.info {
		margin: 0 0 1.5rem;
		border-top: thin solid $light-gray;
	}
}
.section-desc {
	margin: 0 0 1.5rem;
	@extend %d-flex-between;
	flex-wrap: wrap;
	@media (min-width: 769px) {
		figure {
			width: 50%;
		}
	}
	&.space {
		@media (min-width: 769px) {
			figure {
				width: 49.5%;
			}
		}
		&.desktop-reverse {
			@media (min-width: 769px) {
				flex-direction: row-reverse;
			}
		}
		&.narrow-left {
			@media (min-width: 769px) {
				figure {
					.block {
						picture {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							display: flex;
							align-items: center;
							justify-content: center;
							overflow: hidden;
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
					}
					&:first-child {
						width: 38.2%;
						.dummy {
							padding-top: 100%;
						}
					}
					&:last-child {
						width: 60.6%;
						.dummy {
							padding-top: 62.9%;
						}
					}
				}
			}
		}
	}
	&.flow-demo {
		@media (min-width: 769px) {
			figure {
				width: 75%;
				margin: 0 auto;
			}
		}
	}
}
.section-demo {
	background: #F0F0F0;
	padding: 3rem 0;
	@media (max-width: 768px) {
		padding: 1rem 0;
	}
	figure {
		width: 75%;
		margin: 0 auto 3rem;
		@media (max-width: 768px) {
			width: 90%;
			margin-bottom: 1rem;
		}
		&.border-radius {
			padding-top: 5px;
			border-radius: 8px;
			background: $white;
		}
		&.bg-transparent {
			padding-top: 1.5rem;
		}
	}
}
.copyright {
	align-items: baseline;
	a {
		color: $black;
	}
}
.buttons {
	text-align: center;
	button {
		margin: 1.5rem 1rem;
	}
}